
    <nav>
      <a href="/auth/login">Login</a>
      <a href="/auth/signup">Signup</a>
      <a href="/vibe-check">Vibe Check</a>
      {{#if userInSession}}
      <a href="/auth/profile/{{userInSession._id}}">Profile</a>
      <a href="/auth/logout">logout</a>
      {{/if}}
  {{!-- {{#each products}}
    <li>
      <h2>{{this.product_name}}</h2>
      <p>Vibe: {{this.product_vibe}}</p>
      <p>Price: {{this.product_price}}</p>
    </li>
  {{/each}} --}}
</nav>
    
    <h1>Welcome to Iron Wine Project!</h1>
    
    <p>Here are some of our featured products:</p>
    
      Choose your Vibe
    <ul>
      {{#each vibes}}
        <li>
          <p>{{this}}</p>
        </li>
      {{/each}}
    </ul>
 

{{!-- Tweaked this a bit, now just displaying the 4 vibes we have --}}