


  <h1 class="Welcome">Welcome to <span class="WineVibes">Wine Vibes!</span><br></h1>


<div class="Welcome_text">
<p>Welcome to Wine Vibes, your go-to destination for all things wine! We are thrilled to offer you a unique shopping experience where you can buy wines based on the vibe of your occasion. Whether you're hosting a cozy dinner party, celebrating a special occasion, or simply unwinding after a long day, our carefully curated selection of wines is sure to impress.</p>

<p>At Wine Vibes, we are passionate about sharing our love for wine with our customers. </p>

<p>Our knowledgeable and friendly staff is always on hand to help you find the perfect bottle to suit your taste and mood.</p>

<p>Cheers to good times and great wine!</p>
</div>
</div>
<h1 Class="Welcome">Choose your Vibe!</h1>
<div class="container">
  <div class="row d-flex justify-content-between">
    <div class="col">
      {{#each vibes}}

        {{#if (eq @index 0)}}
          <a href="/summer-party"><img
              class="vibeImage"
              src="https://i.ibb.co/Q9c4FyK/summer-party2.jpg"
              alt={{this}}
            /></a>

        {{else if (eq @index 1)}}
          <a href="/home-alone"><img
              class="vibeImage"
              src="https://i.ibb.co/pJmH9MD/home-alone.jpg"
              alt={{this}}
            /></a>

        {{else if (eq @index 2)}}
          <a href="/me-and-friends"><img
              class="vibeImage"
              src="https://i.ibb.co/WPs30pV/Me-and-friends2.jpg"
              alt={{this}}
            /></a>

        {{else if (eq @index 3)}}
          <a href="/hot-girl-summer"><img
              class="vibeImage"
              src="https://i.ibb.co/bsSKCwd/hot-girls-summer.jpg"
              alt={{this}}
            /></a>

        {{/if}}

      {{/each}}
    </div>
  </div>
</div>

