
    <nav>
      <a href="/auth/login">Login</a>
      <a href="/auth/signup">Signup</a>
      <a href="/vibe-check">Vibe Check</a>
      {{#if userInSession}}
      <a href="/auth/profile/{{userInSession._id}}">Profile</a>
      <a href="/auth/logout">logout</a>
      {{/if}}
  {{!-- {{#each products}}
    <li>
      <h2>{{this.product_name}}</h2>
      <p>Vibe: {{this.product_vibe}}</p>
      <p>Price: {{this.product_price}}</p>
    </li>
  {{/each}} --}}
</nav>
    
    <h1>Welcome to Iron Wine Project!</h1>
    
    <p>Here are some of our featured products:</p>
    
      Choose your Vibe
      {{#each vibes}}
      {{#if (eq @index 0)}}
          <p><a href="/summer-party">{{this}}</a></p>
      {{else if (eq @ index 1)}}
          <p><a href="/home-alone">{{this}}</a></p>
      {{else if (eq @index 2)}}    
          <p><a href="/me-and-friends">{{this}}</a></p>
      {{else if (eq @index 3)}}    
          <p><a href="/hot-girl-summer">{{this}}</a></p>
      
      {{/if}}
      {{/each}}

 

{{!-- Tweaked this a bit, now just displaying the 4 vibes we have --}}