<h1>Welcome to Wine Vibes!</h1>

<p>Here are some of our featured products:</p>

Choose your Vibe
<div class="container text-center">
  <div class="row align-items-center">
    <div class="col">
      {{#each vibes}}

        {{#if (eq @index 0)}}
          <a href="/summer-party"><img
              class="vibeImage"
              src="https://i.ibb.co/Q9c4FyK/summer-party2.jpg"
              alt={{this}}
            /></a>

        {{else if (eq @index 1)}}
          <a href="/home-alone"><img
              class="vibeImage"
              src="https://i.ibb.co/pJmH9MD/home-alone.jpg"
              alt={{this}}
            /></a>

        {{else if (eq @index 2)}}
          <a href="/me-and-friends"><img
              class="vibeImage"
              src="https://i.ibb.co/WPs30pV/Me-and-friends2.jpg"
              alt={{this}}
            /></a>

        {{else if (eq @index 3)}}
          <a href="/hot-girl-summer"><img
              class="vibeImage"
              src="https://i.ibb.co/ww8LBkv/hot-girls-summer2.jpg"
              alt={{this}}
            /></a>

        {{/if}}

      {{/each}}
    </div>
  </div>
</div>