{{! wine. to access the data }}
<h3 class="current-vibe">{{wine.product_name}}</h3>
<div class="details">
  <div class="main-info">
    <img src="{{wine.product_image}}" alt="{{wine.product_name}}" />
    <p>{{wine.product_vibe}}</p>
    <p>€{{wine.product_price}}</p>
    <p>{{wine.grape_variety}}</p>
    <p>{{wine.alcohol_content}}</p>
  </div>
  <div>
    <p>{{wine.description}}</p>
    <p>{{wine.origin}}</p>
  </div>
  <div>
    <p>{{wine.fermentation}}</p>
    <p>{{wine.maturation}}</p>
    <p>{{wine.residual_sugar}}</p>
  </div>

  <div>
    <p>{{wine.recommended_serving_temperature}}</p>
  </div>

  <div class="additional-info">
    <ul>
      <h4>Pairs well with:</h4>
      {{#each wine.pairs_with}}
        <li> <p>{{this}}</p></li>
      {{/each}}
    </ul>
  </div>
</div>