<h2 class="current-vibe"> Vibing with "{{vibe.0.product_vibe}}"</h2>
<div class="col">
  {{#each vibe}}

    <div class="product">
      <a href="/details/{{this._id}}"><img
          class="wineImage"
          src="{{this.product_image}}"
          alt="{{this.product_name}}"
        /></a>
        <div class="product-details">
      <h2>{{this.product_name}}</h2>
      <p>Origin: {{this.origin}}</p>
      <p>{{this.alcohol_content}}</p>
      <p> € {{this.product_price}}</p>
      <form action="/cart/add-item/{{this._id}}" method="post">
        <input type="hidden" name="id" value="{{this._id}}" />
        <button type="submit" id="add-to-cart-button">Add to Cart</button>
      </form>
      </div>
    </div>

  {{/each}}
</div>
<div class="current-vibe"></div>